group "default" {
    targets = [
    {{#ARCH}}
      {{#enable}}
      "{{name}}", 
      {{/enable}}
    {{/ARCH}}
    ]
}

{{#ARCH}}
{{#enable}}
target "{{name}}" {
    dockerfile = "/home/ride/mbuild/build/{{name}}/Dockerfile{{#STAGE}}.build{{/STAGE}}"
    platforms = [
        "{{platform}}"
    ]
    tags = ["{{REPO}}:{{#STAGE}}build-{{/STAGE}}{{tag}}"]
    output = ["type=docker"]
    cache-from = ["type=registry,ref=lasery/{{REPO}}:{{#STAGE}}build-{{/STAGE}}{{tag}}-cache"]

    cache-to = ["type=registry,ref=lasery/{{REPO}}:{{#STAGE}}build-{{/STAGE}}{{tag}}-cache"]
}
{{/enable}}
{{/ARCH}}
